body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}
a {
    text-decoration: none;
     background-color: #F0B000;
     color: black;
     margin: 5px;
     padding: 10px;
     text-align: center;
     border:3px solid white
     
}
p{
    background-color: #F0B000;
    color: black;
    font-size:30px;
}
nav a{
     font-size: 40px;
}
nav{
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
    font-family: fantasy;

 
    font-size: 40px;

    text-align: center;
}
nav a:hover{
 background-color: white;
 border:3px solid #F0B000 ;
}
article{
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    float: left;
    margin:40px ;
}
button{
    padding: 20px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    background-color: #F0B000;
    text-align: center;
    font-size: 50px;
}
button:hover{
    background-color: black;
    color: white;
}
